@font-face {
    font-family: 'FONTSPRING DEMO - Cera Pro';
    src: url('./fonts/FONTSPRINGDEMO-CeraProBlackRegular.woff2') format('woff2'),
        url('./fonts/FONTSPRINGDEMO-CeraProBlackRegular.woff') format('woff'),
        url('./fonts/FONTSPRINGDEMO-CeraProBlackRegular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Cera Pro';
    src: url('./fonts/FONTSPRINGDEMO-CeraProBold.woff2') format('woff2'),
        url('./fonts/FONTSPRINGDEMO-CeraProBold.woff') format('woff'),
        url('./fonts/FONTSPRINGDEMO-CeraProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Cera Pro';
    src: url('./fonts/FONTSPRINGDEMO-CeraProLightRegular.woff2') format('woff2'),
        url('./fonts/FONTSPRINGDEMO-CeraProLightRegular.woff') format('woff'),
        url('./fonts/FONTSPRINGDEMO-CeraProLightRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Cera Pro';
    src: url('./fonts/FONTSPRINGDEMO-CeraProThinRegular.woff2') format('woff2'),
        url('./fonts/FONTSPRINGDEMO-CeraProThinRegular.woff') format('woff'),
        url('./fonts/FONTSPRINGDEMO-CeraProThinRegular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Cera Pro';
    src: url('./fonts/FONTSPRINGDEMO-CeraProMediumRegular.woff2') format('woff2'),
        url('./fonts/FONTSPRINGDEMO-CeraProMediumRegular.woff') format('woff'),
        url('./fonts/FONTSPRINGDEMO-CeraProMediumRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Cera Pro';
    src: url('./fonts/FONTSPRINGDEMO-CeraProRegular.woff2') format('woff2'),
        url('./fonts/FONTSPRINGDEMO-CeraProRegular.woff') format('woff'),
        url('./fonts/FONTSPRINGDEMO-CeraProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}